body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-bar {
  background-color: #808080;
  padding: none;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.footer-nav-bar {
  background-color: #808080;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.footer-mantra {
  font-style: italic;
  font-size: 15px;
  text-align: right;
  color: #ffffff;
  margin-left: 800px;
}

.nav-header {
  color: whitesmoke;
  font-size: 25px;
  text-align: left;
  margin-left: 20px;
  margin-right: none;
  padding: none;
}

.home-link, .about-link, .footer-recipes-link {
  text-align: left;
  margin-left: 20px;
  text-decoration: underline;
  padding: 4px;
  font-size: 20px;
  color: #d32f2f;
  font-style: bold;
  border: 2px solid #4caf50;
}

.recipes-link {
  text-align: end;
  margin-left: 750px;
  text-decoration: underline;
  padding: none;
  font-size: 20px;
  color: #d32f2f;
  font-style: bold;
  border: 2x solid #4caf50
} 

.signIn-link, .signUp-link {
  text-align: end;
  margin-left: 20px;
  text-decoration: none;
  padding: 4px;
  border: 2px solid #4caf50;
  font-size: 20px;
  color: #d32f2f;
  font-style: bold;
}

.home {
  text-align: center;

}
.foodImages {
  border: 15px solid #4caf50;
  display:inline-block;
}

.feast {
  text-align: center;
  color: #d32f2f;
  text-shadow: 2px 2px;
  margin-bottom: 0%;
}

.mantra {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: white;
  margin-top: 0%;
}

.about-feast {
  font-size: 25px;
  color:#d32f2f;
  font-weight: bolder;
}

.food-lovers {
  font-style: italic;
  color: #795548;
  font-weight: bold;
}

.click-here {
  font-weight: bold;
  color:#795548;
}

.more-contents {
  font-size: 20px;
  color: #d32f2f;
  font-weight: bold;
}

.recipeslink {
  font-weight: bold;
  color: #795548;
}

.rd {
  color: #795548;
  border: 2px solid #4caf50;
}