.nav-bar {
  background-color: #808080;
  padding: none;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.footer-nav-bar {
  background-color: #808080;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.footer-mantra {
  font-style: italic;
  font-size: 15px;
  text-align: right;
  color: #000000;
  margin-left: 800px;
}

.nav-header {
  color: whitesmoke;
  font-size: 25px;
  text-align: left;
  margin-left: 20px;
  margin-right: none;
  padding: none;
}

.home-link, .about-link, .footer-recipes-link {
  text-align: left;
  margin-left: 20px;
  text-decoration: none;
  padding: 4px;
  font-size: 20px;
  color: #d32f2f;
  font-style: bold;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}

.recipes-link {
  text-align: end;
  margin-left: 750px;
  text-decoration: none;
  padding: 4px;
  font-size: 20px;
  color: #d32f2f;
  font-style: bold;
  border: 2x solid #d32f2f;
  background-color:white;
} 

.signIn-link, .signUp-link {
  text-align: end;
  margin-left: 20px;
  text-decoration: none;
  padding: 4px;
  border: 2px solid #ffffff;
  font-size: 20px;
  color: #d32f2f;
  font-style: bold;
  background-color: white;
}

.home {
  text-align: center;

}
.foodImages {
  border: 8px solid #4caf50;
  display:inline-block;
}

.feast {
  text-align: center;
  color: #d32f2f;
  text-shadow: 2px 2px;
  margin-bottom: 0%;
  margin-top: 3px;
}

.mantra {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: #000000;
  margin-top: 0%;
}

.about-feast {
  font-size: 25px;
  color:#d32f2f;
  font-weight: bolder;
  text-align: left;
}

.food-lovers {
  font-style: italic;
  color: #795548;
  font-weight: bold;
}

.click-here {
  font-weight: bold;
  color:#795548;
}

.more-contents {
  font-size: 20px;
  color: #d32f2f;
  font-weight: bold;
}

.recipeslink {
  font-weight: bold;
  color: #795548;
}

.rd {
  color: #795548;
}

.random-display {
  border: 2px solid #d32f2f;
  color:#795548;
}

about {
 max-width: 100%;
  width: 600px;
  margin: 0 auto;
}

.paragraph-heading {
  font-size: 18px;
  margin-bottom: none;
  display: inline;
  color: #d32f2f;
  text-align: left;
}

.paragraph {
  /* border: 1px solid #795548; */
  margin-top: none;
  text-align: left;
  background-color: #ffffff;
}
