.nav-bar {
  background-color: #808080;
  padding: none;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 66px 0 0;

}

.footer-nav-bar {
  background-color: #808080;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.footer-mantra {
  font-style: italic;
  font-size: 15px;
  text-align: right;
  color: #000000;
  margin-left: 800px;
}

.nav-header {
  color: whitesmoke;
  font-size: 25px;
  text-align: left;
  padding: 0;
  margin: 7px 0 7px 20px;
}

.home-link, .about-link, .footer-recipes-link {
  text-align: left;
  margin-left: 20px;
  text-decoration: none;
  padding: 1px 6px;
  font-size: 20px;
  color: #d32f2f;
  font-style: bold;
  border: 2px solid #ffffff;
  border-radius: 100px;
  background-color: #ffffff;
}

.recipes-link {
  text-align: end;
  margin-left: 720px;
  text-decoration: none;
  padding: 1px 6px;
  font-size: 20px;
  color: #d32f2f;
  font-style: bold;
  border: 2x solid #d32f2f;
  border-radius: 100px;
  background-color:white;
} 

.signIn-link, .signUp-link {
  text-align: end;
  margin-left: 20px;
  text-decoration: none;
  padding: 1px 6px;
  border: 2px solid #d32f2f;
  border-radius: 100px;
  font-size: 20px;
  color: #ffffff;
  font-style: bold;
  background-color: #d32f2f;
}

.home {
  text-align: center;

}
.foodImages {
  border: 8px solid #4caf50;
  display:inline-block;
}

.feast-header {
  position: fixed;
  text-align: center;
  top: 0;
  max-width: 100%;
  width: 100%;
  left: 0;
  background-color: #e0e0e0;
  margin: 0 auto;
  padding: 1px;
}

.feast {
  color: #d32f2f;
  text-shadow: 2px 2px;
  margin-bottom: 0%;
  margin-top: 2px;
  padding-top: 4px;
  padding-bottom: 0;
  margin: 0;
}

.mantra {
  font-style: italic;
  font-size: 15px;
  color: #000000;
  margin-top: 0%;
  padding: 0 6px 6px 6px;
  margin-bottom: 0;
}

.about-feast {
  font-size: 25px;
  color:#d32f2f;
  font-weight: bolder;
  text-align: left;
}

.food-lovers {
  font-style: italic;
  color: #795548;
  font-weight: bold;
}

.click-here {
  font-weight: bold;
  color:#795548;
  text-decoration: none;
  background-color: #ffffff;
  padding: 3px 8px;
  border: 2px solid #4caf50;
  border-radius: 100px;
}

.more-contents {
  font-size: 20px;
  color: #d32f2f;
  font-weight: bold;
}

.recipeslink {
  font-weight: bold;
  color: #795548;
  text-decoration: none;
  border: 2px solid #4caf50;
  border-radius: 100px;
  padding: 3px 8px;
}

.rd {
  color: #795548;
}

.random-display {
  border: 2px solid #d32f2f;
  border-radius: 50px;
  color:#795548;
  margin: 10px auto;
}

.about {
  background-color: #ffffff;
  max-width: 100%;
  width: 600px;
  margin: 30px auto;
  padding: 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.paragraph-heading {
  font-size: 18px;
  margin-bottom: none;
  display: inline;
  color: #d32f2f;
  text-align: left;
  padding-bottom: 0;
}

.paragraph {
  margin-top: none;
  /* padding-top: none; */
  text-align: left;
  letter-spacing: 1px;
  line-height: 20px;
  /* background-color: #ffffff; */
}
