.recipes-list {
   display: flex;
   flex-wrap: wrap;
   padding: auto;
}

.recipe-card {
   border: 1px solid #ccc;
   border-radius: 8px;
   margin: 10px auto;
   padding: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0.1);
   width: 370px;
   height: 600px;
}

.recipe-card-null {
   width: 600px;
   height: 800px;
}

.recipe-card img {
   width: 100%;
   height: 65%;
   border-radius: 8px 8px 0 0;
   margin-bottom: 2px;
}

.recipe-info {
   padding: 0;
   width: 100%;
   height: 35%;
   overflow: auto;
}

.recipe-info ul {
   list-style: none;
   padding: 0;
}

.recipe-info ul li {
   margin-bottom: 5px;
   font-size: 15px;
}

.recipe-info ul li span {
 font-weight: bold;
}
